@use "./font";
@use "./color.scss";
@use "./cursor.scss";

@font-face {
  font-family: "Josefin Slab";
  src: url("/assets/fonts/JosefinSlab-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Josefin Slab Bold";
  src: url("/assets/fonts/JosefinSlab-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Overpass Mono";
  src: url("/assets/fonts/OverpassMono-Regular.ttf") format("truetype");
}

html {
  font-weight: normal;
  font-family: font.$sans;
  font-size: 16px;
  line-height: 1.5;
  cursor: cursor.$default;
}

* {
  margin: 0;
  padding: 0;
  font-weight: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  box-sizing: border-box;
  background: transparent;
  text-decoration: none;
  border: 0;
  cursor: inherit;
}

*::selection {
  background-color: color.$primary200;
}

a,
button {
  cursor: cursor.$pointer;
}

button {
  line-height: 0;
}

body::before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 6px;
  background-color: color.$primary500;
  z-index: 10;
}