// Neutral colours
$neutral50: #fafafa;
$neutral100: #f5f5f5;
$neutral200: #e5e5e5;
$neutral300: #d4d4d4;
$neutral400: #a3a3a3;
$neutral500: #737373;
$neutral600: #525252;
$neutral700: #404040;
$neutral800: #262626;
$neutral900: #171717;
$neutral950: #0b0b0b;

// Primary colours
$primary50: #f0fdfa;
$primary100: #ccfbf1;
$primary200: #99f6e4;
$primary300: #5eead4;
$primary400: #2dd4bf;
$primary500: #14b8a6;
$primary600: #0d9488;
$primary700: #0f766e;
$primary800: #115e59;
$primary900: #134e4a;
$primary950: #042f2e;