---

---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex, nofollow" />
    <link rel="shortcut icon" href="/favicon.svg" type="image/x-icon" />
    <link
      rel="preload"
      href="/assets/fonts/JosefinSlab-Regular.ttf"
      as="font"
    />
    <link
      rel="preload"
      href="/assets/fonts/JosefinSlab-SemiBold.ttf"
      as="font"
    />
    <link
      rel="preload"
      href="/assets/fonts/OverpassMono-Regular.ttf"
      as="font"
    />
    <title>404: Page not found</title>
  </head>
  <body>
    <main>
      <h1>404</h1>
      <h1>Page Not Found</h1>
      <p>This page doesn't exist.</p>
      <a href="/">
        <button>GO HOME</button>
      </a>
    </main>
  </body>
</html>

<style lang="scss">
  @use "../styles/base";
  @use "../styles/font";
  @use "../styles/color";

  body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 6px solid color.$primary500;

    main {
      width: 600px;
      height: auto;

      h1 {
        font-family: font.$serif;
        color: color.$neutral800;
        font-size: 48px;

        &:first-child {
          color: color.$primary500;
          font-size: 64px;
          margin-bottom: 10px;
        }
      }

      p {
        margin: 50px 0;
        font-family: 16px;
        color: color.$neutral600;
        font-family: font.$mono;
      }

      a {
        display: contents;

        button {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 130px;
          height: 40px;
          font-size: 14px;
          letter-spacing: 5px;
          color: color.$neutral950;
          font-weight: 500;
          font-family: font.$serifBold;
          position: relative;
          transition: 0.25s;
          outline: none;
          overflow: hidden;

          &::before {
            content: "";
            position: absolute;
            z-index: -1;
            top: var(--top, 0);
            left: var(--left, 0);
            width: var(--size, 0);
            height: var(--size, 0);
            opacity: var(--opacity, 1);
            background-color: color.$primary300;
            border-radius: 100px;
            transform: translate(-50%, -50%);
            transition-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
            transition-property: width, height, opacity;
            transition-duration: var(--transition, 0);
          }

          &::after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 1px;
            background-color: color.$neutral500;
            transition: 0.25s;
            z-index: -2;
          }

          &:hover,
          &:focus {
            color: color.$neutral50;

            &::after {
              height: 100%;
              background-color: color.$primary600;
            }
          }
        }
      }
    }
  }
</style>

<script>
  const homeButton = document.querySelector("button") as HTMLElement;

  homeButton.addEventListener("mousedown", (e) => {
    const top: number = e.clientY - homeButton.getBoundingClientRect().top;
    const left: number = e.clientX - homeButton.getBoundingClientRect().left;

    homeButton.setAttribute(
      "style",
      `--transition:.5s;--top:${top}px;--left:${left}px;--size:75px;--opacity:0`
    );

    setTimeout(() => homeButton.removeAttribute("style"), 500);
  });
</script>
