---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <meta name="robots" content="index, follow" />
    <title>Photography • Johnathan Verstraaten</title>
    <meta name="author" content="Johnathan Verstraaten" />
    <meta
      name="description"
      content="I'm Johnathan Verstraaten. A 16 year old web developer with a passion for photography, especially of animals and sunsets."
    />
    <meta property="og:title" content="Photography • Johnathan Verstraaten" />
    <meta property="og:url" content="https://jvphotography.pages.dev" />
    <meta
      property="og:image"
      content="https://jvphotography.pages.dev/preview.png"
    />
    <meta property="og:type" content="website" />
  </head>
  <body>
    <script>
      fetch("/api/admin/folder", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
					authToken: "}7}t~15ebve=lCbf^zFmZl2d[?GJC{%|vEa@nsco$3|(T,;TUH~}3CZ;]+gi|o<}",
					addFolderAuthToken: "[cT,[;HXJ688<gchLUjNKTl/v,R,u6*pe5eIwlRkgV9MI.dEmh9GW|.S_p#Q>]cQ",
          slug: "test",
          name: "Test",
        }),
      })
        .then(async (res) => {
          console.log(res);
        })
        .catch(async (err) => {
          console.error(err);
        });
    </script>
  </body>
</html>
