---

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <input type="password" id="password" name="password" placeholder="Password" />
    <input type="password" id="key" name="key" placeholder="Key" />
    <input type="text" id="name" name="name" placeholder="Folder name" />
    <input type="text" id="slug" name="slug" placeholder="Folder slug" />
    <button id="submit">Add Folder</button>
  </body>
</html>

<script>
  const submit = document.querySelector("#submit") as HTMLElement;

  submit.addEventListener("click", (e) => {
    const password = document.querySelector("#password") as HTMLInputElement;
    const key = document.querySelector("#key") as HTMLInputElement;
    const name = document.querySelector("#name") as HTMLInputElement;
    const slug = document.querySelector("#slug") as HTMLInputElement;

    e.preventDefault();

    fetch("/api/admin/folder", {
      method: "POST",
      body: JSON.stringify({
        authToken: password.value,
        addFolderAuthToken: key.value,
        name: name.value,
        slug: slug.value,
      }),
      headers: {
        "Content-Type": "application/json",
      },
    })
      .then((res) => {
        console.log(res);

        if (res.status === 200) {
          fetch(
            "https://api.cloudflare.com/client/v4/pages/webhooks/deploy_hooks/b9609420-57ad-4b5d-8ffb-abff3adf18f5",
            {
              method: "POST",
            }
          ).then((res) => {
            console.log(res);
          }).catch((err) => {
            console.log(err);
          });
        }
      })
      .catch((err) => {
        console.log(err);
      });
  });
</script>
